@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}
* {
    /* outline: 1px solid red; */
}
body {
    /* background-color: orange; */
    font-family: "DM Sans", sans-serif;
}
h1 {
    font-family: "Syne", sans-serif;
    color: black;
}
p {
    color: gray;
}
h4 {
    cursor: pointer;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.animated-slide-in {
    animation: slideIn 0.4s forwards;
}

.animated-slide-out {
    animation: slideOut 0.3s forwards;
}
