@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    color: white;
}
* {
    /* outline: 1px solid red; */
}
body {
    font-family: "DM Sans", sans-serif;
    background-color: #111111;
}
h1 {
    font-family: "Playfair", serif;
    /* color: black; */
    color: white;
}
p {
    /* color: rgb(208, 204, 204); */
    /* color: white; */
    /* color: #939393; */
    /* font-family: "Playfair", serif; */
    font-size: 1.2rem;
    color: #ffffffae;
}
h3 {
    color: #ffffffae;
}
h4 {
    cursor: pointer;
    color: #ffffffae;
    /* color: #939393; */
}
h1 {
    color: #d19324;
}
.icons-background {
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(209, 147, 36, 1) 0%,
        rgba(70, 45, 1, 1) 100%,
        rgba(93, 88, 80, 1) 100%
    );
    font-size: 24px;
    border-radius: 4px;
    color: black;
}
.disable-scroll {
    overflow: hidden;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.animated-slide-in {
    animation: slideIn 0.4s forwards;
}

.animated-slide-out {
    animation: slideOut 0.3s forwards;
}
